body {
    background:#eaeaea !important;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.text1 {
    font: normal 19px "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
}
.btn1 {
    background: #ffffff;
    padding:8px;
    border: 1px solid #65e2f9;
    color: #1c6574;
    border-radius: 5px;
}

.dropdown-menu {
    min-width: 100% !important;
}

.ui-select-choices-row {
    text-align: center;
}
pre {
    background-color: white !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: #0C3C26;
}

#no_hover:hover, #no_hover:focus{
    background: #e98300;
}

span, label, a{
    font-family: Special Elite !important;
}