<div>
    <div>
        <nav style="background-color: #0C3C26; height: 7%;margin: 0px;border: .5px solid #0C3C26; padding: 5px;">
            <span class="text1" style="color: #FFBF00;"> <i class="glyphicon glyphicon-list"></i> </span>  <span class="text1" style="color: white ;"> Logs </span>
        </nav>
        <nav style="background-color: #44B78B;margin: 0px; height: 8%;border: .5px solid #44B78B;overflow: auto;">
            <ul class="nav navbar-nav" style="height: 100%;">
                <li class="nav-item" style="border: .5px solid #44B78B;height: 100%; ">
                    <a class="nav-link" href="#" style="height:100%;color: white;" (click)="getLogs('API_ERROR_LOG',$event)">API Error</a>
                </li>
                <li class="nav-item"  style="border: .5px solid #44B78B; height: 100%;">
                    <a class="nav-link" href="#" style="height:100%;color: white;" (click)="getLogs('PAYNAMICS_TRANSACTIONS_LOG', $event)">Paynamics Transactions</a>
                </li>
                <li class="nav-item"  style="border: .5px solid #44B78B; height: 100%;">
                    <a class="nav-link" href="#" style="height:100%;color: white;" (click)="getLogs('CATALINA_OUT_LOG', $event)" >Catalina.out</a>
                </li>
                <li class="nav-item"  style="border: .5px solid #44B78B; height: 100%;">
                    <a class="nav-link" href="#" style="height:100%;color: white;" (click)="getLogs('PARKNINJA_CORE_ERROR_LOG', $event)" >ParkninjaCore Error</a>
                </li>
                <li class="nav-item"  style="border: .5px solid #44B78B; height: 100%;">
                    <a class="nav-link" href="#" style="height:100%;color: white;" (click)="getLogs('PARKWISE_CORE_ERROR_LOG', $event)" >ParkwiseCore Error</a>
                </li>
            </ul>
        </nav>

    </div>
    <div style="height: 70%; border: .5px solid #44B78B;padding: 5px;overflow: auto;background: white;">
        <li *ngFor="let log of logs">
        {{ log }}
        </li>
    </div>
</div>