<div>
<br/>
<label><font size="6"> ACCOUNT SETTINGS</font></label> <br/><br/>

<div >
    <label><font size="3"> SEARCH BY MERCHANT:</font></label> &nbsp;
    <select [(ngModel)]="selectedMerchant" style="width: 200px;background-color: white;">
          <option [value]="merchant.id" *ngFor="let merchant of merchants">{{merchant.name}}</option>
    </select>&nbsp;&nbsp;
    <a href="" (click)="searchMerchantAccounts($event)" style="width: 100px;text-align: center;display: inline-block;padding: 5px;background-color: #00baff;color: white;">SEARCH</a>
 </div>
<hr style="border-color:black;" />
<table style="table-layout:fixed;background-color: white;width: 800px;min-width: 800px;" class="table table-bordered" [mfData]="accounts" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th style="width: 35%">
            Name
        </th>
        <th style="width: 35%">
            Role
        </th>
        <th style="width: 30%;"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td style="word-wrap:break-word;">{{item.name}}</td>
        <td style="word-wrap:break-word;">{{item.role}}</td>
        <td style="word-wrap:break-word;">
       <a style="color: white !important;text-align: center;display: inline-block;height: 35px; padding: 10px;background-color: #F0B003;width: 100px;" href="" (click)="showDialog($event,item)">UPDATE</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>

</div>


<p-dialog width="550" [(visible)]="display" modal="modal" showEffect="fade">
   <label><font size="4">UPDATE ACCOUNT</font></label>
   <hr/>
<div class="row" style="width: 500;">
       <div class="col-sm-6" style="margin-top: 5px;">
            <label> Name: </label><br/><br/>
            <label> Role: </label><br/><br/>
        </div>     
    <div class="col-sm-6">
        <input type="text" [(ngModel)]="selectedAccount.name"/> <br/><br/>
        <select [(ngModel)]="selectedAccount.role">
            <option value="ADMIN">ADMIN</option>
            <option value="CASHIER">CASHIER</option>
        </select>
    </div>
</div>
<br/><br/>
<div class="row" style="width: 500;">
    <div class="col-sm-4">

    </div>
   <div class="col-sm-8">
     <a style="color: white !important;text-align: center;display: inline-block;height: 35px; padding: 10px;background-color: #e98300;width: 100px;" href="" (click)="update($event,selectedAccount)">SAVE</a><a style="margin-left: 20px;color: white !important;text-align: center;display: inline-block;height: 35px; padding: 10px;background-color: #e98300;width: 100px;" href="" (click)="display=false" >CANCEL</a>
   </div>
</div>
      <br/><br/>
</p-dialog>
